@charset "utf-8";
/* CSS Document */

body 
{ 
	padding-top: 70px; 
	background-color:#6CF;
}
.grey-box
{
	background-color: gray;
	height: 400px;
}
#profile
{
	text-align:center;
}
.input-group[class*="col-"] 
{
    padding-right: 15px;
    padding-left: 15px;
}